<div *ngIf="post; else loading" class="post-page">
    <div class="post-page__header">
        <div class="post-page__header-top">
            <h3 class="post-page__title">{{post.title}}</h3>
            <a href="" class="post-page__back" routerlink="/">Go back</a>
        </div>
        <div class="post-page__info">
            <small class="post-page__autor">{{post.author}}</small>
            <small class="post-page__date">{{post.date | date:'medium'}}</small>
        </div>
    </div>
    <div class="post-page__main">
        <quill-view-html [content]="post.text"></quill-view-html>
    </div>
</div>

<ng-template #loading>
    <p>Loading post...</p>
</ng-template>