<div class="post-page">
    <div class="post-page__header">
        <div class="post-page__header-top">
            <h3 class="post-page__title">Post title</h3>
            <a href="" class="post-page__back" routerlink="/">Go back</a>
        </div>
        <div class="post-page__info">
            <small class="post-page__autor">Konstantin</small>
            <small class="post-page__date">20.11.2019</small>
        </div>
    </div>
    <div class="post-page__main">
        <p class="post-page__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque inventore totam facere animi, in, ipsum quod amet iusto quibusdam obcaecati sapiente quia voluptate nesciunt deserunt at ratione aut minus quae?</p>
        <p class="post-page__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque inventore totam facere animi, in, ipsum quod amet iusto quibusdam obcaecati sapiente quia voluptate nesciunt deserunt at ratione aut minus quae?</p>
        <p class="post-page__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque inventore totam facere animi, in, ipsum quod amet iusto quibusdam obcaecati sapiente quia voluptate nesciunt deserunt at ratione aut minus quae?</p>
        <p class="post-page__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque inventore totam facere animi, in, ipsum quod amet iusto quibusdam obcaecati sapiente quia voluptate nesciunt deserunt at ratione aut minus quae?</p>
        <p class="post-page__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque inventore totam facere animi, in, ipsum quod amet iusto quibusdam obcaecati sapiente quia voluptate nesciunt deserunt at ratione aut minus quae?</p>
    </div>
</div>