.post {
    max-width: 500px;
    margin: 0 auto 15px auto;
    padding: 5px 15px 15px;
    border-top: 2px solid rgba(0,0,0, .3);
    box-shadow: 0 2px 4px 1px rgba(0,0,0, .1);
}

.post__header {
    margin-bottom: 5px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__btn {
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: .3s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        border-color: transparent;
    }
}