.header {
    padding: 20px 0;
    background-color: #fefeff;
    box-shadow: 0 2px 1px 2px #ebebed;
}

.header__title {
    margin: 0;
    font-size: 45px;
    text-align: center;
}

.wrapper {
    padding: 15px 0;
}